body {
  background-color : #0D2B8C;
  color : white;
  text-align: center;
}

header {
  background-color : #FFDD00;
  height: 3cm;
}

img {
  display: block;
  margin: 25px auto;
  border-radius: 25px;
}

h1 {
  padding: 1cm;
  margin: 0;
}
a{
  color: #FFDD00;
}
